<section id="hero" class="hero-container">
  <div class="grid w-full">
    <div class="col-md-6 flex-grow-1">
      <header class="hero-content">
        <h1 class="hero-content-header">
          <span class="font-light block">{{ "landingPage.hero.headingFirst" | translate}}</span>{{ "landingPage.hero.headingSecond" | translate}}
        </h1>
        <p class="hero-content-description">
          {{ "landingPage.hero.description" | translate}}
        </p>
        <p-button
          [label]="'landingPage.hero.cta' | translate"
          [rounded]="true"
          severity="secondary"
          (click)="navigateToLogin()"
        ></p-button>
      </header>
    </div>
    <div class="col-md-6">
      <div class="hero-image-container">
        <img src="assets/images/hero.png" alt="business discussion" />
      </div>
    </div>
  </div>
</section>
