<section id="hero" class="hero-container">
  <div class="grid">
    <div class="col-md-6">
      <header class="hero-content">
        <h1 class="hero-content-header">
          <span class="font-light block">Lorem ipsum dolor</span>consectetur adipiscing elit
        </h1>
        <p class="hero-content-description">
          Suspendisse potenti. Aliquam erat volutpat. Cras a est ac neque sagittis condimentum
        </p>
        <p-button
          label="Get Started"
          [rounded]="true"
          severity="secondary"
          (click)="navigateToLogin()"
        ></p-button>
      </header>
    </div>
    <div class="col-md-6">
      <div class="hero-image-container">
        <img src="assets/images/hero.png" alt="Hero Image" />
      </div>
    </div>
  </div>
</section>
