<footer class="landing-footer">
  <div class="footer-grid">
    <div class="col-12 md:col-2" style="margin-top: -1.5rem">
      <a (click)="router.navigate(['/pages/landing'], { fragment: 'home' })">
        <h4 class="footer-logo">{{ 'common.brandName' | translate }}</h4>
      </a>
      <p-dropdown
        [options]="availableLanguages"
        [(ngModel)]="selectedLanguage"
        optionLabel="label"
        placeholder="Select Language"
        (onChange)="handleLanguageChange()"
      ></p-dropdown>
    </div>

    <div class="col-12 md:col-10 lg:col-7">
      <div class="grid">
        <!-- Assuming you have a translation service that provides the translation for a given key -->
        <div class="col-12 md:col-3">
          <h4 class="footer-link-header">{{ 'landingPage.footer.company' | translate }}</h4>
          <a class="footer-link">{{ 'landingPage.footer.aboutUs' | translate }}</a>
          <a class="footer-link">{{ 'landingPage.footer.news' | translate }}</a>
          <a class="footer-link">{{ 'landingPage.footer.investorRelations' | translate }}</a>
          <a class="footer-link">{{ 'landingPage.footer.careers' | translate }}</a>
        </div>

        <div class="col-12 md:col-3 mt-4 md:mt-0">
          <h4 class="footer-link-header">{{ 'landingPage.footer.resources' | translate }}</h4>
          <a class="footer-link">{{ 'landingPage.footer.getStarted' | translate }}</a>
          <a class="footer-link">{{ 'landingPage.footer.learn' | translate }}</a>
        </div>

        <div class="col-12 md:col-3 mt-4 md:mt-0">
          <h4 class="footer-link-header">{{ 'landingPage.footer.community' | translate }}</h4>
          <a class="footer-link">{{ 'landingPage.footer.discord' | translate }}</a>
          <a class="footer-link">{{ 'landingPage.footer.events' | translate }}</a>
          <a class="footer-link">{{ 'landingPage.footer.faq' | translate }}</a>
        </div>

        <div class="col-12 md:col-3 mt-4 md:mt-0">
          <h4 class="footer-link-header">{{ 'landingPage.footer.legal' | translate }}</h4>
          <a class="footer-link">{{ 'landingPage.footer.brandPolicy' | translate }}</a>
          <a class="footer-link">{{ 'landingPage.footer.privacyPolicy' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</footer>
