<footer class="landing-footer">
  <div class="footer-grid">
    <div class="col-12 md:col-2" style="margin-top: -1.5rem">
      <a (click)="router.navigate(['/pages/landing'], { fragment: 'home' })">
        <h4 class="footer-logo">Foundation</h4>
      </a>
    </div>

    <div class="col-12 md:col-10 lg:col-7">
      <div class="grid">
        <div class="col-12 md:col-3">
          <h4 class="footer-link-header">Company</h4>
          <a class="footer-link">About Us</a>
          <a class="footer-link">News</a>
          <a class="footer-link">Investor Relations</a>
          <a class="footer-link">Careers</a>
        </div>

        <div class="col-12 md:col-3 mt-4 md:mt-0">
          <h4 class="footer-link-header">Resources</h4>
          <a class="footer-link">Get Started</a>
          <a class="footer-link">Learn</a>
        </div>

        <div class="col-12 md:col-3 mt-4 md:mt-0">
          <h4 class="footer-link-header">Community</h4>
          <a class="footer-link">Discord</a>
          <a class="footer-link">Events</a>
          <a class="footer-link">FAQ</a>
        </div>

        <div class="col-12 md:col-3 mt-4 md:mt-0">
          <h4 class="footer-link-header">Legal</h4>
          <a class="footer-link">Brand Policy</a>
          <a class="footer-link">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>
